body {
  background: #202020;
  color: #b0b0b0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 11px;
}
#chessground-examples {
  margin: 30px 0 0 0;
  display: flex;
  flex-flow: row;
}
menu {
  flex: 0 0 300px;
  margin: 0 15px 0 0;
}
menu a {
  display: block;
  cursor: pointer;
  padding: 5px 15px;
}
menu a:hover {
  background: #333;
}
menu a.active {
  border-left: 5px solid #b0b0b0;
}
section {
  display: inline-block;
  margin: 0 5px 20px 0;
  background: #404040;
  padding: 5px;
  border-radius: 2px;
}
section p {
  text-align: center;
  margin: 20px 0 0 0;
}
control {
  margin-left: 20px;
}

.chessground {
  margin: 8px;
}
.chessground.tiny {
  width: 225px;
  height: 225px;
}
.chessground.small {
  width: 300px;
  height: 300px;
}
.chessground.normal {
  width: 512px;
  height: 512px;
}
.cg-board-wrap svg {
  opacity: 0.6;
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 2;
}
.cg-board svg * {
  transition: 0.35s;
}
.cg-board svg image {
  opacity: 0.5;
}
