.board {
  line-height: 0;
  background-size: cover;
  display: inline-block;
  border: 5px solid #ccc;
  border-radius: 2px;
}
.board.tiny {
  width: 225px;
  height: 225px;
}
.board.small {
  width: 300px;
  height: 300px;
}
.board.large {
  width: 400px;
  height: 400px;
}
.board.blue {
  background-image: url('http://lichess1.org/assets/images/board/blue2.jpg');
}
.board.wood {
  background-image: url('http://lichess1.org/assets/images/board/wood2.jpg');
}
.board.marble {
  background-image: url('http://lichess1.org/assets/images/board/marble.jpg');
}
.board > div {
  position: relative;
  display: inline-block;
  width: 12.5%;
  height: 12.5%;
}
.board > div.last {
  background: radial-gradient(ellipse at center, rgba(155, 199, 00, 0.81) 0%, rgba(155, 199, 00, 0) 100%);
}
.board.coordinates > div::before {
  position: absolute;
  left: 2px;
  bottom: 2px;
  font-size: 10px;
  line-height: 10px;
  content: attr(data-key);
  color: #fff;
  opacity: 0.5;
}
.board .piece {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.board .piece[draggable] {
  cursor: move;
}
.pirouetti .piece {
  bottom: 0;
  left: -15%;
  width: 130%;
  height: 130%;
}
.pirouetti .piece.pawn.white {
  background-image: url('http://lichess1.org/assets/piece/pirouetti/wP.svg');
}
.pirouetti .piece.bishop.white {
  background-image: url('http://lichess1.org/assets/piece/pirouetti/wB.svg');
}
.pirouetti .piece.knight.white {
  background-image: url('http://lichess1.org/assets/piece/pirouetti/wN.svg');
}
.pirouetti .piece.rook.white {
  background-image: url('http://lichess1.org/assets/piece/pirouetti/wR.svg');
}
.pirouetti .piece.queen.white {
  background-image: url('http://lichess1.org/assets/piece/pirouetti/wQ.svg');
}
.pirouetti .piece.king.white {
  background-image: url('http://lichess1.org/assets/piece/pirouetti/wK.svg');
}
.pirouetti .piece.pawn.black {
  background-image: url('http://lichess1.org/assets/piece/pirouetti/bP.svg');
}
.pirouetti .piece.bishop.black {
  background-image: url('http://lichess1.org/assets/piece/pirouetti/bB.svg');
}
.pirouetti .piece.knight.black {
  background-image: url('http://lichess1.org/assets/piece/pirouetti/bN.svg');
}
.pirouetti .piece.rook.black {
  background-image: url('http://lichess1.org/assets/piece/pirouetti/bR.svg');
}
.pirouetti .piece.queen.black {
  background-image: url('http://lichess1.org/assets/piece/pirouetti/bQ.svg');
}
.pirouetti .piece.king.black {
  background-image: url('http://lichess1.org/assets/piece/pirouetti/bK.svg');
}
.cburnett .piece.pawn.white {
  background-image: url('http://lichess1.org/assets/piece/cburnett/wP.svg');
}
.cburnett .piece.bishop.white {
  background-image: url('http://lichess1.org/assets/piece/cburnett/wB.svg');
}
.cburnett .piece.knight.white {
  background-image: url('http://lichess1.org/assets/piece/cburnett/wN.svg');
}
.cburnett .piece.rook.white {
  background-image: url('http://lichess1.org/assets/piece/cburnett/wR.svg');
}
.cburnett .piece.queen.white {
  background-image: url('http://lichess1.org/assets/piece/cburnett/wQ.svg');
}
.cburnett .piece.king.white {
  background-image: url('http://lichess1.org/assets/piece/cburnett/wK.svg');
}
.cburnett .piece.pawn.black {
  background-image: url('http://lichess1.org/assets/piece/cburnett/bP.svg');
}
.cburnett .piece.bishop.black {
  background-image: url('http://lichess1.org/assets/piece/cburnett/bB.svg');
}
.cburnett .piece.knight.black {
  background-image: url('http://lichess1.org/assets/piece/cburnett/bN.svg');
}
.cburnett .piece.rook.black {
  background-image: url('http://lichess1.org/assets/piece/cburnett/bR.svg');
}
.cburnett .piece.queen.black {
  background-image: url('http://lichess1.org/assets/piece/cburnett/bQ.svg');
}
.cburnett .piece.king.black {
  background-image: url('http://lichess1.org/assets/piece/cburnett/bK.svg');
}
.merida .piece.pawn.white {
  background-image: url('http://lichess1.org/assets/piece/merida/wP.svg');
}
.merida .piece.bishop.white {
  background-image: url('http://lichess1.org/assets/piece/merida/wB.svg');
}
.merida .piece.knight.white {
  background-image: url('http://lichess1.org/assets/piece/merida/wN.svg');
}
.merida .piece.rook.white {
  background-image: url('http://lichess1.org/assets/piece/merida/wR.svg');
}
.merida .piece.queen.white {
  background-image: url('http://lichess1.org/assets/piece/merida/wQ.svg');
}
.merida .piece.king.white {
  background-image: url('http://lichess1.org/assets/piece/merida/wK.svg');
}
.merida .piece.pawn.black {
  background-image: url('http://lichess1.org/assets/piece/merida/bP.svg');
}
.merida .piece.bishop.black {
  background-image: url('http://lichess1.org/assets/piece/merida/bB.svg');
}
.merida .piece.knight.black {
  background-image: url('http://lichess1.org/assets/piece/merida/bN.svg');
}
.merida .piece.rook.black {
  background-image: url('http://lichess1.org/assets/piece/merida/bR.svg');
}
.merida .piece.queen.black {
  background-image: url('http://lichess1.org/assets/piece/merida/bQ.svg');
}
.merida .piece.king.black {
  background-image: url('http://lichess1.org/assets/piece/merida/bK.svg');
}
