/** Colored squares for the board as an embedded SVG */
cg-board {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4PSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIgogICAgIHZpZXdCb3g9IjAgMCA4IDgiIHNoYXBlLXJlbmRlcmluZz0iY3Jpc3BFZGdlcyI+CjxnIGlkPSJhIj4KICA8ZyBpZD0iYiI+CiAgICA8ZyBpZD0iYyI+CiAgICAgIDxnIGlkPSJkIj4KICAgICAgICA8cmVjdCB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjRjNFNENGIiBpZD0iZSIvPgogICAgICAgIDx1c2UgeD0iMSIgeT0iMSIgaHJlZj0iI2UiIHg6aHJlZj0iI2UiLz4KICAgICAgICA8cmVjdCB5PSIxIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSIjQ0VCM0EyIiBpZD0iZiIvPgogICAgICAgIDx1c2UgeD0iMSIgeT0iLTEiIGhyZWY9IiNmIiB4OmhyZWY9IiNmIi8+CiAgICAgIDwvZz4KICAgICAgPHVzZSB4PSIyIiBocmVmPSIjZCIgeDpocmVmPSIjZCIvPgogICAgPC9nPgogICAgPHVzZSB4PSI0IiBocmVmPSIjYyIgeDpocmVmPSIjYyIvPgogIDwvZz4KICA8dXNlIHk9IjIiIGhyZWY9IiNiIiB4OmhyZWY9IiNiIi8+CjwvZz4KPHVzZSB5PSI0IiBocmVmPSIjYSIgeDpocmVmPSIjYSIvPgo8L3N2Zz4K');
}

/** Interactive board square colors */
cg-board square.move-dest {
  background: radial-gradient(rgba(238, 255, 255, 1.0) 22%, #208530 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
  pointer-events: auto;
}
cg-board square.move-dest.oc {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(238, 255, 255, 1.0) 80%);
}
cg-board square.move-dest:hover {
  background: rgba(238, 255, 255, 1.0);
}

cg-board square.premove-dest {
  background: radial-gradient(rgba(20, 30, 85, 0.5) 22%, #203085 0, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0) 0);
}
cg-board square.premove-dest.oc {
  background: radial-gradient(transparent 0%, transparent 80%, rgba(20, 30, 85, 0.2) 80%);
}
cg-board square.premove-dest:hover {
  background: rgba(20, 30, 85, 0.2);
}

cg-board square.selected {
  background: rgba(238, 255, 255, 1.0);
}
cg-board square.check {
  background: radial-gradient(ellipse at center, rgba(255, 0, 0, 1) 0%, rgba(231, 0, 0, 1) 25%, rgba(169, 0, 0, 0) 89%, rgba(158, 0, 0, 0) 100%);
}
cg-board square.current-premove {
  background-color: rgba(238, 255, 255, 1.0);
}

/** Highlight squares for last move */
cg-board square.last-move {
  background-color: #fffcdd;
}
cg-board square.last-move {
  background-color: #FFF79B;
}

/** Alternating colors in rank/file labels */
.cg-wrap.orientation-white coords.ranks coord:nth-child(2n) {
  color: #CEB3A2;
}
.cg-wrap.orientation-white coords.ranks coord:nth-child(2n + 1) {
  color: #F3E4CF;
}
.cg-wrap.orientation-white coords.files coord:nth-child(2n) {
  color: #CEB3A2;
}
.cg-wrap.orientation-white coords.files coord:nth-child(2n + 1) {
  color: #F3E4CF;
}

.cg-wrap.orientation-black coords.ranks coord:nth-child(2n) {
  color: #F3E4CF;
}
.cg-wrap.orientation-black coords.ranks coord:nth-child(2n + 1) {
  color: #CEB3A2;
}
.cg-wrap.orientation-black coords.files coord:nth-child(2n) {
  color: #F3E4CF;
}
.cg-wrap.orientation-black coords.files coord:nth-child(2n + 1) {
  color: #CEB3A2;
}
