/*
 * Board
 */
.blue > .cg-board {
  background-image: url('images/board/blue2.jpg');
}
.wood > .cg-board {
  background-image: url('images/board/wood2.jpg');
}
.marble > .cg-board {
  background-image: url('images/board/marble.jpg');
}

/*
 * Pieces
 */
.pirouetti .cg-piece {
  bottom: 0;
  left: -15%;
  width: 130%;
  height: 130%;
}
.pirouetti .cg-piece.pawn.white {
  background-image: url('images/pieces/pirouetti/wP.svg');
}
.pirouetti .cg-piece.bishop.white {
  background-image: url('images/pieces/pirouetti/wB.svg');
}
.pirouetti .cg-piece.knight.white {
  background-image: url('images/pieces/pirouetti/wN.svg');
}
.pirouetti .cg-piece.rook.white {
  background-image: url('images/pieces/pirouetti/wR.svg');
}
.pirouetti .cg-piece.queen.white {
  background-image: url('images/pieces/pirouetti/wQ.svg');
}
.pirouetti .cg-piece.king.white {
  background-image: url('images/pieces/pirouetti/wK.svg');
}
.pirouetti .cg-piece.pawn.black {
  background-image: url('images/pieces/pirouetti/bP.svg');
}
.pirouetti .cg-piece.bishop.black {
  background-image: url('images/pieces/pirouetti/bB.svg');
}
.pirouetti .cg-piece.knight.black {
  background-image: url('images/pieces/pirouetti/bN.svg');
}
.pirouetti .cg-piece.rook.black {
  background-image: url('images/pieces/pirouetti/bR.svg');
}
.pirouetti .cg-piece.queen.black {
  background-image: url('images/pieces/pirouetti/bQ.svg');
}
.pirouetti .cg-piece.king.black {
  background-image: url('images/pieces/pirouetti/bK.svg');
}
.cburnett .cg-piece.pawn.white {
  background-image: url('images/pieces/cburnett/wP.svg');
}
.cburnett .cg-piece.bishop.white {
  background-image: url('images/pieces/cburnett/wB.svg');
}
.cburnett .cg-piece.knight.white {
  background-image: url('images/pieces/cburnett/wN.svg');
}
.cburnett .cg-piece.rook.white {
  background-image: url('images/pieces/cburnett/wR.svg');
}
.cburnett .cg-piece.queen.white {
  background-image: url('images/pieces/cburnett/wQ.svg');
}
.cburnett .cg-piece.king.white {
  background-image: url('images/pieces/cburnett/wK.svg');
}
.cburnett .cg-piece.pawn.black {
  background-image: url('images/pieces/cburnett/bP.svg');
}
.cburnett .cg-piece.bishop.black {
  background-image: url('images/pieces/cburnett/bB.svg');
}
.cburnett .cg-piece.knight.black {
  background-image: url('images/pieces/cburnett/bN.svg');
}
.cburnett .cg-piece.rook.black {
  background-image: url('images/pieces/cburnett/bR.svg');
}
.cburnett .cg-piece.queen.black {
  background-image: url('images/pieces/cburnett/bQ.svg');
}
.cburnett .cg-piece.king.black {
  background-image: url('images/pieces/cburnett/bK.svg');
}
.merida .cg-piece.pawn.white {
  background-image: url('images/pieces/merida/wP.svg');
}
.merida .cg-piece.bishop.white {
  background-image: url('images/pieces/merida/wB.svg');
}
.merida .cg-piece.knight.white {
  background-image: url('images/pieces/merida/wN.svg');
}
.merida .cg-piece.rook.white {
  background-image: url('images/pieces/merida/wR.svg');
}
.merida .cg-piece.queen.white {
  background-image: url('images/pieces/merida/wQ.svg');
}
.merida .cg-piece.king.white {
  background-image: url('images/pieces/merida/wK.svg');
}
.merida .cg-piece.pawn.black {
  background-image: url('images/pieces/merida/bP.svg');
}
.merida .cg-piece.bishop.black {
  background-image: url('images/pieces/merida/bB.svg');
}
.merida .cg-piece.knight.black {
  background-image: url('images/pieces/merida/bN.svg');
}
.merida .cg-piece.rook.black {
  background-image: url('images/pieces/merida/bR.svg');
}
.merida .cg-piece.queen.black {
  background-image: url('images/pieces/merida/bQ.svg');
}
.merida .cg-piece.king.black {
  background-image: url('images/pieces/merida/bK.svg');
}
.staunton div.pawn.white {
  background-image: url(images/pieces/staunton/basic/White-Pawn.png);
}
.staunton div.bishop.white {
  background-image: url(images/pieces/staunton/basic/White-Bishop.png);
}
.staunton .cg-board.orientation-black div.bishop.white {
  background-image: url(images/pieces/staunton/basic/White-Bishop-Flipped.png);
}
.staunton div.knight.white,
#top div.piece_demo.staunton {
  background-image: url(images/pieces/staunton/basic/White-Knight.png);
}
.staunton .cg-board.orientation-black div.knight.white {
  background-image: url(images/pieces/staunton/basic/White-Knight-Flipped.png);
}
.staunton div.rook.white {
  background-image: url(images/pieces/staunton/basic/White-Rook.png);
}
.staunton div.queen.white {
  background-image: url(images/pieces/staunton/basic/White-Queen.png);
}
.staunton div.king.white {
  background-image: url(images/pieces/staunton/basic/White-King.png);
}
.staunton div.pawn.black {
  background-image: url(images/pieces/staunton/basic/Black-Pawn.png);
}
.staunton div.bishop.black {
  background-image: url(images/pieces/staunton/basic/Black-Bishop.png);
}
.staunton .cg-board.orientation-white div.bishop.black {
  background-image: url(images/pieces/staunton/basic/Black-Bishop-Flipped.png);
}
.staunton div.knight.black {
  background-image: url(images/pieces/staunton/basic/Black-Knight.png);
}
.staunton .cg-board.orientation-white div.knight.black {
  background-image: url(images/pieces/staunton/basic/Black-Knight-Flipped.png);
}
.staunton div.rook.black {
  background-image: url(images/pieces/staunton/basic/Black-Rook.png);
}
.staunton div.queen.black {
  background-image: url(images/pieces/staunton/basic/Black-Queen.png);
}
.staunton div.king.black {
  background-image: url(images/pieces/staunton/basic/Black-King.png);
}
.staunton div.cg-piece {
  width: 140.625%;
  height: 179.6875%;
  left: -18%;
  top: -63%;
}
